<p id="notice"><%= notice %></p>

<h1>Listing Rental Requests</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>User</th>
      <th>Start date</th>
      <th>End date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rental_requests.each do |rental_request| %>
      <tr>
        <td><%= rental_request.item %></td>
        <td><%= rental_request.user %></td>
        <td><%= rental_request.start_date %></td>
        <td><%= rental_request.end_date %></td>
        <td><%= link_to 'Show', rental_request %></td>
        <td><%= link_to 'Edit', edit_rental_request_path(rental_request) %></td>
        <td><%= link_to 'Destroy', rental_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rental request', new_rental_request_path %>
