<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @rental_request.item %>
</p>

<p>
  <strong>User:</strong>
  <%= @rental_request.user %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @rental_request.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @rental_request.end_date %>
</p>

<%= link_to 'Edit', edit_rental_request_path(@rental_request) %> |
<%= link_to 'Back', rental_requests_path %>
